<!DOCTYPE html>
<html lang="pt-br">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Teste CVC - Aluguel de Veículos</title>
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/sprite/sprite.css">

  <script src="https://use.fontawesome.com/6ff298b380.js"></script>
  <script src="assets/js/angular.js"></script>
  <script src="assets/js/cvc-carros-debug.js"></script>
</head>
<body>
  <main ng-app="testecvc" ng-controller="CarrosController">
    <div class="container">
      <div class="row">
        <aside class="grid-xs-12 grid-md-3">
          <div class="aside-box yellow">
            <form id="form-busca-carros">
              <div class="field-group field-block label-upper">
                <label for="txt-local-retirada">Local de retirada</label>
                <input id="txt-local-retirada" type="text" placeholder="Escolha um local para retirar o veículo">
              </div>
              <div class="field-group">
                <div class="checkbox-group">
                  <input type="checkbox" id="opt-devolver">
                  <label for="opt-devolver">Devolver o carro em outro local</label>
                </div>
              </div>
              <div class="field-group field-block label-upper">
                <label for="txt-local-devolucao">Local de devolução</label>
                <input id="txt-local-devolucao" type="text" placeholder="Escolha um local para devolver o veículo">
              </div>
              <div class="field-group field-block label-upper">
                <label for="">Local de retirada</label>
                <input id="" type="text" placeholder="Escolha um local para retirar o veículo">
              </div>

              <div class="panel panel-green">
                <div class="panel-header text-upper">
                  Economize até 35%
                </div>
                <div class="panel-body">
                  <div class="field-group">
                    <div class="checkbox-group">
                      <input type="checkbox" id="opt-voo">
                      <label for="opt-voo">Incluir vôo</label>
                    </div>
                    <div class="checkbox-group">
                      <input type="checkbox" id="opt-hotel">
                      <label for="opt-hotel">Incluir hotel</label>
                    </div>
                  </div>
                </div>
              </div>

              <button class="btn btn-block btn-blue btn-lg text-upper">
                Buscar
              </button>
            </form>
          </div>
        </aside>
        <div class="grid-xs-12 grid-md-9">
          <div class="filtros-resultado row">
            <div class="grid-xs-12 grid-md-3">
              <div class="field-group filter-field">
                <label for="cmb-ipp">Itens por página</label>
                <div class="wrap-select">
                  <select id="cmb-ipp" ng-model="pagination.itemsPerPage" ng-change="atualizarPagination()">
                    <option value="2">2</option>
                    <option value="10">10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="grid-xs-12 grid-md-4">
              <div class="field-group filter-field">
                <label for="cmb-ipp">Ordenar por</label>
                <div class="wrap-select">
                  <select id="cmb-ipp" ng-change="reordenar()" ng-model="ordem_param">
                    <option value="none">Nenhum</option>
                    <option value="low_price">Menor preço</option>
                    <option value="high_price">Maior preço</option>
                    <option value="high_locate">Mais alugado</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="grid-xs-12 grid-md-2">
              <div class="field-group filter-field">
                <label for="cmb-ipp">Moeda</label>
                <div class="wrap-select">
                  <select id="cmb-ipp">
                    <option value="real">Real</option>
                    <option value="dolar">Dólar</option>
                    <option value="euro">Euro</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <div id="resultados-busca">
            <article class="row item-resultado-busca" ng-repeat="carro in carros | startFrom:(pagination.page - 1)*pagination.itemsPerPage | limitTo:pagination.itemsPerPage ">
              <div class="grid-xs-12 grid-md-9">
                <div class="row">
                  <div class="grid-xs-12 grid-md-5 foto-carro">
                    <img src="assets/img/carros/{{carro.imageUrl}}" alt="">
                    <div class="locadora">
                      <img src="assets/img/locadoras/{{carro.locadora}}.jpg" alt="{{carro.locadora}}">
                    </div>
                  </div>
                  <div class="grid-xs-12 grid-md-7 info-locacao">
                    <h1>{{carro.name}}</h1>
                    <p class="descricao text-upper">
                      Código da taxa: {{carro.codigo}}<br>
                      {{carro.descricao}}
                    </p>
                    <ul class="lista-destaques">
                      <li ng-repeat="destaque in carro.destaques">{{destaque}}</li>
                    </ul>

                    <a href="#" class="btn-detalhe" ng-click="toggleDetalhe(carro)" ng-show="! carro.showDetalhe">Ver detalhes <i class="fa fa-plus"></i></a>
                    <a href="#" class="btn-detalhe" ng-click="toggleDetalhe(carro)" ng-show="carro.showDetalhe">Ocultar detalhes <i class="fa fa-times"></i></a>

                    <a href="#" class="btn-favorito"><i class="fa fa-heart"></i></a>
                  </div>
                </div>
                <div class="row">
                  <div class="grid-xs-12 detalhe-locacao" ng-show="carro.showDetalhe">
                      {{carro.detalhes}}
                  </div>
                  <div class="grid-xs-12">
                    <ul class="lista-opcionais">
                      <li ng-repeat="opcional in carro.opcionais"><i class="icon icon-{{ opcional.icone }}"></i> {{opcional.texto}}</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="grid-xs-12 grid-md-3">
                <div class="info-valor-locacao aside-box yellow text-center">
                  <h3>Total da Locação</h3>
                  <div ng-if="carro.desconto > 0">
                    <span class="valor-original">de R$ {{carro.valor}}</span><br>
                    por <span class="valor"><small>R$</small> {{(carro.valor * (1 - (carro.desconto / 100)))}}</span>
                  </div>
                  <div ng-if="carro.desconto <= 0">
                    <span class="valor"><small>R$</small> {{carro.valor}}</span>
                  </div>
                  <strong><span class="parcelamento">em até 10x</span></strong>

                  <a href="#" class="btn btn-lg btn-blue btn-block text-upper">Alugar</a>
                  <small>Taxas inclusas</small>
                </div>
              </div>
            </article>

            <ul class="pagination">
              <li><button ng-click="alterarPagina(pagination.page - 1)">&laquo;</button></li>
              <li ng-repeat="n in [] | rangePagination:pagination.totalPages"><button ng-class="n == pagination.page? 'active' : ''" ng-click="alterarPagina(n)">{{n}}</a></li>
              <li><button ng-click="alterarPagina(pagination.page + 1)">&raquo;</button></li>
            </ul>
          </div>

        </div>
      </div>
    </div>
  </main>
</body>
</html>