@font-face {
  font-family: 'Oswald';
  font-weight: bold;
  src: url('../fonts/oswald-bold-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/oswald-bold-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/oswald-bold-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/oswald-bold-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/oswald-bold-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/oswald-bold-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Oswald';
  font-weight: lighter;
  src: url('../fonts/oswald-light-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/oswald-light-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/oswald-light-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/oswald-light-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/oswald-light-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/oswald-light-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}

@font-face {
  font-family: 'Oswald';
  font-weight: normal;
  src: url('../fonts/oswald-regular-webfont.eot'); /* IE9 Compat Modes */
  src: url('../fonts/oswald-regular-webfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/oswald-regular-webfont.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/oswald-regular-webfont.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/oswald-regular-webfont.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/oswald-regular-webfont.svg#svgFontName') format('svg'); /* Legacy iOS */
}
