// ==========================================================================
// Theme Custom Variables
// ==========================================================================

//
// Example, Try next line!
//

$vermelho: #c33d61;
$amarelo: #f8e66c;
$verde: #a4ce4a;
$azul: #54bcd7;
$rosa: #f77798;
$roxo: #6a2d9e;
$roxo_claro: #a186be;
$verde_agua: #25b8ba;