// ==========================================================================
// Theme Custom Variables
// ==========================================================================

//
// Example, Try next line!
//

$yellow: #ffdc2c;
$blue: #263c70;
$blue-text: #3658a4;
$blue-highlight: #0087e5;
$green: #69b42e;